*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: "Poppins", sans-serif;
}

body{
  height:100vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  background:#000;
}

.title{
  color:#00fff7;
  margin-bottom:20px;
  text-shadow:0 0 20px #00fff7;
  letter-spacing:2px;
}

/* Calculator Box */
.calculator{
  width:340px;
  padding:20px;
  border-radius:20px;
  background:#0a0a0a;
  box-shadow:0 0 35px #00fff7;
  border:2px solid #00fff7;
}

/* Display */
#display{
  width:100%;
  height:70px;
  border:none;
  outline:none;
  background:black;
  border-radius:10px;
  font-size:32px;
  padding-right:10px;
  text-align:right;
  color:#00fff7;
  margin-bottom:15px;
  box-shadow:inset 0 0 20px #00fff7;
}

/* Buttons Grid */
.buttons{
  display:grid;
  grid-template-columns:repeat(4,1fr);
  gap:12px;
}

/* Buttons */
button{
  height:55px;
  border:none;
  border-radius:12px;
  font-size:20px;
  font-weight:bold;
  cursor:pointer;
  color:#00fff7;
  background:#000;
  border:2px solid #00fff7;
  box-shadow:0 0 20px #00fff7;
  transition:0.3s;
}

/* Hover Effect */
button:hover{
  background:#00fff7;
  color:black;
  box-shadow:0 0 40px #00fff7;
}

/* Equal Button Special */
.equal{
  background:#000;
  border:2px solid #00fff7;
  color:#00fff7;
  box-shadow:0 0 20px #00fff7;
}

.equal:hover{
  background:#00fff7;
  color:black;
  box-shadow:0 0 40px #00fff7;
}